<div class="search_list_item">
    {{#each pills}}
        <span class="pill-container">
            {{#if (eq this.type "search_user")}}
                {{> search_user_pill this}}
            {{else}}
                {{> input_pill this}}
            {{/if}}
        </span>
    {{/each}}
</div>
